{% extends "base.html" %}
{% load static %}
<!--{% block title %}Home{% endblock %}-->

{% block page_header %}
  <div class="container header-container">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="container h-100">
  <div class="row h-100">
    <div class="col-7 col-md-10 my-auto">
      <h1 class="display-4">
        The New Chocolates are here!
      </h1>
      <div class="my-5">
        <h4>
          <a href="" type="button" class="shop-chocolates btn btn-dark">
            Shop Chocolates
          </a>
        </h4>
      </div>
    </div>
    </div>
  </div>
{% endblock %}

<!--
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Album example</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc.
        Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light"></div>
  <div class="container">

    <div class="pb-3 h5">All Chocolates</div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

      {% for chocolate in chocolates %}

      <div class="col-12 col-md-6 col-lg-4 col-xl-3 card">
        {% if chocolate.image %}
        <img src="{{ chocolate.image.url }}" class="card-img-top img-fluid"
          alt="Image of {{ chocolate.name }}"
          onError="this.onerror=null;this.src='https://images.pexels.com/photos/33715/cake-pops-pastries-cake-sweet.jpg';">
        {% else %}
          <img src="https://images.pexels.com/photos/33715/cake-pops-pastries-cake-sweet.jpg" class="card-img-top img-fluid" alt="Image of chocolate">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ chocolate.name }}</h5>
          <p class="card-text">{{ chocolate.description }}</p>
          <a href="" class="btn btn-primary">View More</a>
        </div>
      </div>

      {% endfor %}

    </div>
  </div>

</main>

% endblock %-->