@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

html {
    height: 100%;
    font-family: 'Manrope', sans-serif;
}

#basket-icon {
    width:35px;
    color: white;
}

.btn{
	border-radius: 25px;
    margin-left: 15px;
}

#basket-total{
    display:block;
    font-size: 16px;
    background-color: grey;
    border-radius: 15px;
    margin: 15px;
    text-align: center;
}

.thumbnail{
    width: 100%;
    height: 200px;
    margin-top:50px;
}

.basket-box {
    display: flex;
}

.basket-heading{
 padding: 10px;
}

.basket-row{
    display: flex;
    align-items: stretch;

}

.basket-image{
    width: 200px;
}

.amount{
    display: inline-block;
    
}

.chg-amount{
    width:40px;
    height:45px;
    display:block;
    margin-right: 10px;
}

li {
    display: inline;
    font-size: 2em;
    padding: 10px;
}

li>a {
    color: black;
}

#welcome, #search {
    color: white;
}

#mc_embed_signup{
    background:#fff; 
    clear:left; 
    font:14px Helvetica,Arial,sans-serif;  
    width:600px;
    margin-left: 10%;
}

#news {
    margin-left: 10%;
    margin-top: 5%;
}

.text-muted {
    margin-left: 30%;
}