@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

html {
	height: 100%;
	font-family: 'Manrope', sans-serif;
}

#basket-icon {
	width: 35px;
	color: white;
}

.btn {
	border-radius: 25px;
	margin-left: 15px;
}

#basket-total {
	display: block;
	font-size: 16px;
	background-color: grey;
	border-radius: 15px;
	margin: 15px;
	text-align: center;
}

.thumbnail {
	width: 100%;
	height: 200px;
	margin-top: 50px;
}

.basket-box {
	display: flex;
}

.basket-heading {
	padding: 10px;
}

.basket-row {
	display: flex;
	align-items: stretch;

}

.basket-image {
	width: 200px;
}

.amount {
	display: inline-block;

}

.chg-amount {
	width: 40px;
	height: 45px;
	display: block;
	margin-right: 10px;
}

li {
	display: inline;
	font-size: 2em;
	padding: 10px;
}

li>a {
	color: black;
}

#welcome,
#search {
	color: white;
}

#mc_embed_signup {
	background: #fff;
	clear: left;
	font: 14px Helvetica, Arial, sans-serif;
	width: 600px;
	margin-left: 10%;
}

#news {
	margin-left: 10%;
	margin-top: 5%;
}

#edit_chocolate {
	width: 400px;
	height: 250px;
}

#contact {
	color: black;
}

#info {
	margin-left: 25%;
}


#contact_form {
	background-color: #F8F9FA;
	font-weight: 700;
	border-radius: 5px;
	border: 3px solid grey;
	padding-left: 10px;
	text-align: center;
	box-sizing:border-box;
	font-size: large;
}


#contact_submit, #signup_form, #form_logout, #form_login {
	    border: 3px solid black;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		font-weight: 700;
		margin: 5px;
	
}

#mc_embed_signup{
	background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:600px;}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */