<!DOCTYPE html>
{% load static %}
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
      <title>Art Of Chocolate Shop</title>
      <meta name ="description" content="Art Chocolate shop, place for chocolate lovers">
      <meta name ="keywords" content="chocolate cakes,cacao,fondant recipe,muffin ingredients">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
      <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
      <script src="https://kit.fontawesome.com/5797e01b9b.js" crossorigin="anonymous"></script>
      <!-- Script to handle Use Cookies -->
      <script>
         let user = '{{request.user}}';
                  
                  function getToken(name) {
                    let cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                      const cookies = document.cookie.split(';');
                      for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                          break;
                        }
                      }
                    }
                    return cookieValue;
                  }
                  const csrftoken = getToken('csrftoken');
                  
                  
                  function getCookie(name) {
                     var cookieArr = document.cookie.split(";");
                  
                     for(var i = 0; i < cookieArr.length; i++) {
                         var cookiePair = cookieArr[i].split("=");
                  
                         if (name == cookiePair[0].trim()) {
                            return decodeURIComponent(cookiePair[1]);
                      }
                    }
                    
                    return null;
                  }
                  
                  var basket = JSON.parse(getCookie('basket'));
                  if (basket == undefined){
                      basket = {};
                      console.log('Basket was created', basket);
                      document.cookie = 'basket=' + JSON.stringify(basket) + ";domain=;path=/";
                     }
                  console.log('basket:', basket);
                  
            
      </script>
   </head>
   <body>
      <!-- Navigation bar with Shop Categories. -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
         <a class="navbar-brand" href="{% url 'shop' %}">Art Of Chocolate</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item dropdown">
                  <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-chocolates-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Chocolate Shop - categories
                  </a>
                  <div class="dropdown-menu border-0" >
                     <a href="{% url 'shop' %}?category=white_chocolate" class="dropdown-item">White Chocolates</a>
                     <a href="{% url 'shop' %}?category=dark_chocolate" class="dropdown-item">Dark Chocolates</a>
                     <a href="{% url 'shop' %}?category=milk_chocolate" class="dropdown-item">Milk Chocolates</a>
                     <a href="{% url 'shop' %}" class="dropdown-item">All Chocolates</a>
                  </div>
               </li>
            </ul>
            <!-- Greeting when User logs in -->
            <div class="form-online my2 my-lg-0">
               {% if user.is_authenticated %}
               <p id="welcome">Welcome {{ user.username }} !</p>
               <a href="{% url 'account_logout' %}" class="btn btn-warning">Logout</a>
               {% else %}
               <a href="{% url 'account_login' %}" class="btn btn-warning">Login</a>
               <a href="{% url 'account_signup' %}" class="btn btn-warning">Sign Up</a>
               {% endif %}
               {% if not request.user.is_superuser %}
               <a href="{% url 'basket' %}">
               <i class="fas fa-shopping-cart" id="basket-icon"></i>
               </a>
               <p id="basket-total">{{basketItems}}</p>
               {% endif %}
            </div>
         </div>
         <div>
            <form class="form" method="GET" action="{% url 'shop' %}">
               <div class="input-group w-100">
                  <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                  <button class="form-control form-control btn brn-black border border-black rounded-0" type="submit">
                  <span id="search">Search</span>
                  </button>
               </div>
            </form>
            {% if messages %}
            {% for message in messages %}
            <div class="my-5 alert alert-success">
               <h5 class="m-0">
                  {{ message }}
               </h5>
            </div>
            {% endfor %}
            {% endif %}
         </div>
      </nav>
      <div class="container">
         {% block content %}
         {% endblock content %}
      </div>
      <footer class="footer mt-auto py-3 bg-light">
         <div class="col-12 col-md-6">
            <h4 id="news">News, offers and discounts.</h4>
            <!-- Mailchimp signup form -->
            <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
            <div id="mc_embed_signup">
               <form action="https://protonmail.us21.list-manage.com/subscribe/post?u=ff6848632b2c2724924da1780&amp;id=1068abdfe8&amp;f_id=00cdc3e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">
                     <h2>Subscribe</h2>
                     <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                     <div class="mc-field-group">
                        <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                        </label>
                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
                        <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                     </div>
                     <div id="mce-responses" class="clear foot">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                     </div>
                     <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ff6848632b2c2724924da1780_1068abdfe8" tabindex="-1" value=""></div>
                     <div class="optionalParent">
                        <div class="clear foot">
                           <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                           <p class="brandingLogo"><a href="http://eepurl.com/ibMnMD" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg" alt="Monkey face"></a></p>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
         </div>
         <div class="container">
            <!-- Social Media links -->
            <ul class="d-flex justify-content-center h-100" id="social-media">
               <li>
                  <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                     aria-label="Visit us on Facebook (opens in a new tab)"><i class="fab fa-facebook-square"></i></a>
               </li>
               <li>
                  <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                     aria-label="Visit us on Instagram (opens in a new tab)"><i class="fab fa-instagram-square"></i></a>
               </li>
               <li>
                  <a href="https://www.pinterest.com/" target="_blank" rel="noopener"
                     aria-label="Visit us on Pinterest (opens in a new tab)"><i class="fab fa-pinterest-square"></i></a>
               </li>
            </ul>
            <p id="info"><span>&copy;2022 | Art Of Chocolate, Inc | All rights Reserved | Privacy Policy | <a href="{% url 'contact' %}" id="contact">Click here to Contact Us</a></span></p>
         </div>
      </footer>
      <!-- JavaScript Bundle with Popper -->
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
         integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
         integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
         integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <script src="{% static 'js/basket.js' %}" ></script>
      <script src="https://js.stripe.com/v3/" ></script>
      <script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
      <script>
         (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true); 
      </script>
   </body>
</html>
