{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-lg-4">
   <img class="thumbnail" src="{{chocolate.image.url}}" alt="Chocolate image">
   <div class="box-element product">
      <h6><strong>{{chocolate.name}}</strong></h6>
      <hr>
      {% if not request.user.is_superuser %}
      <button data-chocolate={{chocolate.id}} data-action="add" class="btn btn-outline-dark add-btn update-basket">Add to Basket</button>
      {% endif %}
      <button type="button" value="Go back!" onclick="history.back()" class="btn btn-outline-dark">Go back</button>
      <h4 style="display: inline-block; float: right"><strong>€{{chocolate.price|floatformat:2}}</strong></h4>
      <p><strong>{{chocolate.description}}</strong></p>
   </div>
</div>
{% endblock content %}

