{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Code to send order number confirmation to user -->
<div class="row">
   {% if payment_status == 'success' %}
   <p>Your order number {{order_id}} is confirmed and your order confirmation sent to your E-mail Address {{email}}</p>
   <script>
      for(item in basket){
         delete basket[item]
      }
      document.cookie="basket"+JSON.stringify(basket)+";domain=;path=/"
   </script>
   {% else %}
   <p>Oops something went wrong.</p>
   {% endif %}
</div>
{% endblock content %}

